name: Continuous Integration

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  Lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Set up Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3
        with:
          node-version: 17

      # Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: npm i

      - name: Run Prettier
        run: npm run format

  Test:
    name: Testing
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Set up Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3
        with:
          node-version: 17

      - name: Install Node.js dependencies
        run: npm i && npm run build

      - name: Link Project
        run: npm link

      - name: Test sern
        run: sern
