name: Continuous Delivery

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'package.json'

jobs:
  Publish:
    name: Publishing Dev
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Set up Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3
        with:
          node-version: 17
          registry-url: 'https://registry.npmjs.org'

      - name: Install Node.js dependencies
        run: npm i && npm run build

      - name: Link Project
        run: npm link

      - name: Test Sern
        run: sern

      - name: Publish to npm
        run: |
          npm version premajor --preid "dev.$(git rev-parse --verify --short HEAD)" --git-tag-version=false
          npm publish --tag dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
